<h1>Welcome to my app</h1>
<p>Hello User!</p>

<body>
  <% if user_signed_in? %>
    <%= current_user.email %>
    <%= link_to "Sign_out", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign_in", new_user_session_path, method: :get %>
  <% end %>
</body>
